.imageElement--pgprof1{
    border-radius: 50%;
    border: solid #DA291C;
    margin-left: 24%;
    margin-top: -160px;
}

.imageElement--pgprof2{
    border-radius: 50%;
    border: solid #DA291C;
    margin-left: -150%;
}

.imageElement--pgprof3{
    border-radius: 50%;
    border: solid #DA291C;
    margin-left: -100%;
}








.infoCardImage--info-card-example{
    width: 140px;
    height: 140px;
}

.infoCardHeadline--info-card-example{
    font-size: 16px;
    margin-bottom: -30px;
    margin-left: 20px;
}

.infoCardSubhead--info-card-example{
    font-size: 16px;
    margin-bottom: -65px;
    margin-top: 50px;
    margin-left: 20px;
}

.imageElement--pgprof1-mob{
    border-radius: 50%;
    border: solid #DA291C;
    margin-bottom: -20px;
    margin-left: 15px;
    position: sticky;
    margin-top: 40px;
}

.imageElement--pgprof2-mob{
    border-radius: 50%;
    border: solid #DA291C;
    margin-bottom: -150px;
    margin-left: -185px;
    position: sticky;
    margin-top: 40px;
}

.imageElement--pgprof3-mob{
    border-radius: 50%;
    border: solid #DA291C;
    margin-bottom: -20px;
    margin-left: -35px;
    position: sticky;
    margin-top: 40px;
}