@font-face {
  font-family: 'Museo';
  src: url('/assets/fonts/Museo/Museo700-Regular.otf');
  font-weight: 700;
}

  @font-face {
    font-family: 'Museo-2';
    src: url('/assets/fonts/Museo/Museo300-Regular.otf');
    font-weight: 300;
  }

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
  }

@font-face {
  font-family: 'Reizo';
  src: url('/assets/fonts/REIZO/Reizo-Regular.otf');
  font-weight: normal;
}